{% extends 'base.html' %}

{% block content %}

<h2>Add Sale</h2>

<form method="POST">

    {% csrf_token %}

    {% comment %} <label>Select Date</label>
    <input type="date" name="date" required>

    <br><br> {% endcomment %}

    <label>Customer Name</label>
    <input type="text" name="customer_name" required>

    <br><br>
    
    <label>Select Product</label>
    
    <select name="product">

        {% for product in products %}

        <option value="{{ product.id }}">
            {{ product.name }} - {{ product.size }}
        </option>

        {% endfor %}

    </select>

    <br><br>

    <label>Quantity</label>
    <input type="number" name="quantity" required>

    <br><br>

    <button type="submit">Save Sale</button>

</form>

{% endblock %}